DOCKERHUB_USERNAME=tu_usuario_dockerhub
FRONTEND_IMAGE_NAME=my-app-frontend
ORACLE_DB_URL=jdbc:oracle:thin:@procesobasedatos_high?TNS_ADMIN=/app/wallet
ORACLE_DB_USERNAME=ADMIN
ORACLE_DB_PASSWORD=tu_password_oracle
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key
AWS_SECRET_ACCESS_KEY=tu_secret_key
AWS_SESSION_TOKEN=tu_session_token
AWS_S3_BUCKET_NAME=bucket-formativa-duoc
AZURE_B2C_ISSUER_URI=https://tenant.b2clogin.com/.../v2.0/
APP_CORS_ALLOWED_ORIGINS=*
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
